/* Make modal dialog nicer */
QDialog[modal="true"]
{
    border-color: black;
    border-radius: 7px;
    border-style: solid;
    border-width: 1px;
}

/* Make scroll area transparent */
QScrollArea, QScrollArea > QWidget > QWidget
{
    background-color: transparent;
}

/* Customize QTabWidget look */
QTabWidget
{
    background-color: #dcdcdc;
}

QTabWidget::pane
{
    border-top: 1px solid black;
}
