/* Make scroll area transparent */
QScrollArea, QScrollArea > QWidget > QWidget
{
    background-color: transparent;
}

/* Customize QTabWidget look */
QTabWidget
{
    background-color: #dcdcdc;
}

QTabWidget::pane
{
    border-top: 1px solid black;
}
